.book-info {
	background-color:lavender;
}

#emptyRow {
	min-height: 50px;
}

.inline-headers {
	display: inline;
	color: blue;
}

.review-text {
	color: red;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.review-spacer {
	height: 40px;
}

#review-submit, #rent-button {
	margin-top: 20px;
}

