#sign-up-form input, #sign-up-form select {
	margin-bottom: 10px;
}

form {
	margin-left: 30px;
}

.exp-select {
	height:34px;
	font-size:14px;
	line-height:1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}